{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мафия-ассистент</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>
<header class="topbar">
    <a href="{% url 'game:index' %}" class="logo">
        MAFIA
    </a>

    <nav class="main-nav">
        <!-- Главная -->
        <a href="{% url 'game:index' %}"
           class="{% if request.resolver_match.url_name == 'index' %}nav-link-active{% endif %}">
            Главная
        </a>

        <!-- Правила -->
        <a href="{% url 'game:rules' %}"
           class="{% if request.resolver_match.url_name == 'rules' %}nav-link-active{% endif %}">
            Правила игры
        </a>

        <!-- Роли -->
        <a href="{% url 'game:roles' %}"
           class="{% if request.resolver_match.url_name == 'roles' %}nav-link-active{% endif %}">
            Роли
        </a>

        <!-- Режимы -->
        <a href="{% url 'game:modes' %}"
           class="{% if request.resolver_match.url_name == 'modes' %}nav-link-active{% endif %}">
            Режимы
        </a>

        <!-- Турниры -->
        <a href="{% url 'game:sessions_list' %}"
           class="{% if request.resolver_match.url_name == 'sessions_list' %}nav-link-active{% endif %}">
            Турниры
        </a>

        <!-- Кабинет – подсвечиваем для нескольких url_name -->
        <a href="{% url 'cabinet' %}"
           class="{% if request.resolver_match.url_name in 'host_sessions session_create session_manage player_add player_cabinet cabinet' %}nav-link-active{% endif %}">
            Кабинет
        </a>
    </nav>

    <div class="user-block">
        {% if request.user.is_authenticated %}
            <a href="{% url 'cabinet' %}" class="user-name user-name-link">
              {{ request.user.get_full_name|default:request.user.username }}
            </a>
            <a href="{% url 'logout' %}" class="user-logout-link">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn-secondary btn-small">Войти</a>
            <a href="{% url 'register' %}" class="btn-primary btn-small">Регистрация</a>
        {% endif %}
    </div>
</header>

<main class="page-content">
    {% block breadcrumbs %}{% endblock %}
    {% block content %}{% endblock %}
</main>

<footer class="footer">
  <div>© 2025 Казарина Алёна Алексеевна</div>
  <div class="footer-links">
      <a href="{% url 'game:index' %}">Главная</a> |
      <a href="{% url 'game:sitemap' %}">Карта сайта</a>
  </div>
</footer>

<script src="{% static 'game/main.js' %}"></script>
</body>
</html>
